/* SIZING*/
$icon-x-y: 50px;

/* SPACING */
$padding-base-y: 1rem;
$padding-base-x: 1.5rem;

$margin-base-x: 2rem;

$padding-btn-y: 0.25em;
$padding-btn-x: 1.25em;

$padding-container-y: 2.5rem;
$padding-container-x: 4rem;

/* COLORS */
$color-pale-gold: #c0b283;
$color-paper: #f4f4f4;
$color-charcoal: #373737;